doctype 5
html
  head
    title Backbone Example
    link(rel='stylesheet', href='/bootstrap.min.css')
    link(rel='stylesheet', href='/bootstrap-responsive.min.css')
  body(style='padding-top: 60px; padding-bottom: 60px')
    block content
  script(data-main='/backbone/main', src='/js/lib/require.js')
  